.container {
    display: flex;
    height: 50vh;
    width: 100vh;
    justify-content: center;
    align-items: center;

    


}.item1 {
    background-color: pink;
}             
.item2 {
    background-color:aqua ;

}
.item3 {
    background-color: lightgray;
}
.item {display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    flex-grow: 1;
}